service gpsd /system/bin/glgps -c /system/etc/gps/glconfig.xml
    setenv LD_PRELOAD /system/lib/libglgps-compat.so
    class late_start
    user gps
    group system wakelock sdcard_rw inet root radio wifi
